<div class="flex-grow-1 container-fluid">
    <div class="hstack mt-3 mb-3">
        <h2 class="settingsHeader">Flavours</h2>
        <button
        class="btn ms-auto me-4 addPrimaryBtn"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#modalFlavourAdd"
    >
        Add New
    </button>
    </div>
    <table
            class="table table-boarderd table-hover table-bordered bg-light cusTable mt-2"
            id="tableFlavour"
    >
        <thead class="cusTableHead">
        <tr>
            <th>#</th>
            <th>Flavour ID</th>
            <th>Flavour Name</th>
            <th>Modify</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="flex-grow-1 container-fluid">
    <div class="hstack mt-3 mb-3">
        <h2 class="settingsHeader">Package Types</h2>
        <button
        class="btn ms-auto me-4 addPrimaryBtn"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#modalPTAdd"
    >
        Add New
    </button>
    </div>
    <table
            class="table table-boarderd table-hover table-bordered bg-light cusTable mt-2"
            id="tablePTs"
    >
        <thead class="cusTableHead">
        <tr>
            <th>#</th>
            <th>Package ID</th>
            <th>Package Type</th>
            <th>Modify</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>