<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Edit Customer</h5>
            <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body">
            <form id="customerEditForm" class="needs-validation">
                <div class="row mt-2">
                    <div class="col">
                        <label class="form-label fw-medium" for="edit-cus-fName">First Name<span
                                class="text-danger"> * </span></label>
                        <input class="form-control" id="edit-cus-fName" type="text" placeholder="Enter First Name"/>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please Enter Full name ex: Udara Deshan Udawatte</div>
                    </div>
                    <div class="col">
                        <label class="form-label fw-medium" for="edit-cus-sName">Surname<span
                                class="text-danger"> * </span></label>
                        <input class="form-control" id="edit-cus-sName" type="text" placeholder="Enter Surname"/>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please Enter Full name ex: Udara Deshan Udawatte</div>
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col">
                        <label class="form-label fw-medium" for="edit-cus-nic">NIC<span
                                class="text-danger"> * </span></label>
                        <input class="form-control" id="edit-cus-nic" type="text" placeholder="Enter NIC"/>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please Enter Full name ex: Udara Deshan Udawatte</div>
                    </div>
                    <div class="col">
                        <label class="form-label fw-medium" for="edit-cus-mobNo">Mobile No<span
                                class="text-danger"> * </span></label>
                        <input class="form-control" id="edit-cus-mobNo" type="text" placeholder="Enter Mobile No"/>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please Enter Full name ex: Udara Deshan Udawatte</div>
                    </div>
                    <div class="col">
                        <label class="form-label fw-medium" for="edit-cus-landNo">Land No<span
                                class="text-danger"> * </span></label>
                        <input class="form-control" id="edit-cus-landNo" type="text" placeholder="Enter Land No"/>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please Enter Full name ex: Udara Deshan Udawatte</div>
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col">
                        <label class="form-label fw-medium" for="edit-cus-address">Address<span
                                class="text-danger"> * </span></label>
                        <input class="form-control" id="edit-cus-address" type="text" placeholder="Enter Address"/>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please Enter Full name ex: Udara Deshan Udawatte</div>
                    </div>
                    <div class="col">
                        <label class="form-label fw-medium" for="edit-cus-comName">Company Name<span class="text-danger"> * </span></label>
                        <input class="form-control" id="edit-cus-comName" type="text" placeholder="Enter Mobile No"/>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please Enter Full name ex: Udara Deshan Udawatte</div>
                    </div>
                    <div class="col">
                        <label class="form-label fw-medium" for="edit-cus-brn">BRN<span
                                class="text-danger"> * </span></label>
                        <input class="form-control" id="edit-cus-brn" type="text"
                               placeholder="Enter Business Registration No"/>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please Enter Full name ex: Udara Deshan Udawatte</div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <label class="form-label fw-medium" for="edit-cus-email">Email<span
                                class="text-danger"> * </span></label>
                        <input class="form-control" id="edit-cus-email" type="text" placeholder="Enter Email"/>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please Enter Full name ex: Udara Deshan Udawatte</div>
                    </div>
                    <div class="col">
                        <label class="form-label fw-medium" for="edit-cus-status">Customer Status<span
                                class="text-danger"> * </span></label>
                        <select id="edit-cus-status" class="form-select">
                            <option selected value="Active">Active</option>
                            <option value="InActive">InActive</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label fw-medium" for="edit-cus-point">Customer Point<span class="text-danger"> * </span></label>
                        <input class="form-control" id="edit-cus-point" type="text" placeholder="Enter Customer Point"/>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please Enter Full name ex: Udara Deshan Udawatte</div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-5">
                    <div>
                        <button class="btn btn-secondary mx-2 "
                                data-bs-dismiss="modal"
                                type="button">Cancel
                        </button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>