<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add New Customer Payment</h5>
            <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body">
           <form id="CPAddForm" class="needs-validation">
               <div class="row mt-2">
                   <div class="col">
                       <label class="form-label fw-medium" for="add-cp-inv">Invoice No<span
                               class="text-danger"> * </span></label>
                       <div class="input-group">
                           <span class="input-group-text">INV-</span>
                           <input class="form-control" id="add-cp-inv" type="number" placeholder="Enter Invoice No" required/>
                           <div class="invalid-feedback">Please Enter Valid Invoice Num</div>
                       </div>
                   </div>

                   <div class="col">
                       <label class="form-label fw-medium" for="add-cp-ord">Order<span class="text-danger"> * </span></label>
                       <select id="add-cp-ord" class="form-select" onchange="fillDataIntoTotal();" required>
                           <option value="" selected>Select Order</option>
                       </select>
                       <div class="invalid-feedback">Please select an Order.</div>
                   </div>

                   <div class="col">
                       <label class="form-label fw-medium" for="add-cp-payMeth">Payment Method<span class="text-danger"> * </span></label>
                       <select id="add-cp-payMeth" class="form-select" onchange="showPaymentOptionByMethod();">
                           <option disabled selected value="">Select Payment Method</option>
                           <option  value="VISA_CARD">VISA CARD</option>
                           <option value="MASTER_CARD">MASTER CARD</option>
                           <option value="BANK_TRANSFER">BANK TRANSFER</option>
                           <option value="CASH">CASH</option>
                           <option value="CHEQUE">CHEQUE</option>
                       </select>
                   </div>

<!--                   <div class="col">-->
<!--                       <label class="form-label fw-medium" for="add-cp-payDate">Payment Date<span class="text-danger"> * </span></label>-->
<!--                       <input class="form-control" id="add-cp-payDate" type="date" />-->
<!--                       <div class="valid-feedback"></div>-->
<!--                       <div class="invalid-feedback">Please Enter Full name ex: Udara Deshan Udawatte</div>-->
<!--                   </div>-->
               </div>
               <div class="row mt-4">
                   <div class="col">
                       <label class="form-label fw-medium" for="add-cp-tot" id="add-cp-tot-label" >Total Amount</label>
                       <input class="form-control" id="add-cp-tot" type="text" placeholder="Enter Total Amount" disabled/>
                       <div class="invalid-feedback"></div>
                   </div>
                   <div class="col">
                       <label class="form-label fw-medium" for="add-cp-tot">Pay Amount</label>
                       <input class="form-control" id="add-cp-pa" type="text" onkeyup="calculateAdvancePayBalance();" placeholder="Enter Pay Amount" />
                       <div class="invalid-feedback">Please Enter Valid number</div>
                   </div>
                   <div class="col">
                       <label class="form-label fw-medium" for="add-cp-tot">Balance</label>
                       <input class="form-control" id="add-cp-balance" type="text" disabled />
                       <div class="invalid-feedback"></div>
                   </div>
               </div>
               <div class="row mt-4">
                    <div class="col-6 " id="paymentDateCol">
                            <label class="form-label fw-medium" for="add-cp-payDate">Payment Date<span class="text-danger"> * </span></label>
                            <input class="form-control" id="add-cp-payDate" type="date" />
                             <div class="valid-feedback"></div>
                             <div class="invalid-feedback">Please Select Valid Date</div>
                    </div>
                   <div class="col-6" id="paymentStatusCol">
                       <label class="form-label fw-medium" for="add-cp-status">Payment Status<span class="text-danger"> * </span></label>
                       <select id="add-cp-status" class="form-select">
                           <option disabled selected value="">Select Payment Status</option>
                           <option value="Pending">Pending</option>
                           <option value="Completed">Completed</option>
                           <option value="OnHold">On Hold</option>
                           <option value="Canceled">Canceled</option>
                       </select>
                   </div>
               </div>
<!--               Bank Transfer Card-->
               <div class="row mt-3 mb-4 d-none" id="bankTranferDivRow">
                   <div class="col-12">
                       <div class="card">
                           <div class="card-header">
                               <b>Bank Transfer</b>
                           </div>
                           <div class="card-body">
                               <div class="row">
                                   <div class="col-6">
                                       <label class="form-label mb-0 fw-bold"
                                              style="font-size: 12.5px;" for="inputBankTranferId"><span
                                               style="color: #fa5252;">* </span>Transaction
                                           ID:</label>

                                       <div class="row">
                                           <div class="col-12">
                                               <input class="form-control" type="text"
                                                      id="inputBankTranferId"
                                                      style="background-color: #E6E6E6;" required>
                                           </div>
                                       </div>
                                   </div>

                                   <div class="col-6">
                                       <label class="form-label mb-0 fw-bold"
                                              style="font-size: 12.5px;"
                                              for="inputBankTransferredDateTime"><span
                                               style="color: #fa5252;">* </span>Transfer Date &
                                           Time:</label>

                                       <div class="row">
                                           <div class="col-12">
                                               <input class="form-control" type="datetime-local"
                                                      id="inputBankTransferredDateTime"
                                                      style="background-color: #E6E6E6;" required
                                                      onkeydown="return false">
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

<!--               Cheque Details card-->
               <div class="row mt-3 mb-4 d-none" id="chequeDivRow">
                   <div class="col-12">
                       <div class="card">
                           <div class="card-header">
                               <b>Cheque</b>
                           </div>
                           <div class="card-body">

                               <div class="row">
                                   <!-- * text cheque no  -->
                                   <div class="col-6">
                                       <label class="form-label mb-0 fw-bold"
                                              style="font-size: 12.5px;" for="inputChequeNo"><span
                                               style="color: #fa5252;">* </span>Cheque
                                           Number:</label>

                                       <div class="row">
                                           <div class="col-12">
                                               <input class="form-control" type="text"
                                                      id="inputChequeNo" style="background-color: #E6E6E6;"
                                                      required>
                                           </div>
                                       </div>
                                   </div>
                                   <!-- * date cheque Date-->
                                   <div class="col-6">
                                       <label class="form-label mb-0 fw-bold"
                                              style="font-size: 12.5px;" for="inputChequeDate"><span
                                               style="color: #fa5252;">* </span>Cheque
                                           Date:</label>
                                       <div class="row">
                                           <div class="col-12">
                                               <input class="form-control" type="date"
                                                      id="inputChequeDate"
                                                      style="background-color: #E6E6E6;" required
                                                      onkeydown="return false">
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
<!--               Card details Card div-->
               <div class="row mt-3 mb-4 d-none" id="cardDivRow">
                   <div class="col-12">
                       <div class="card">
                           <div class="card-header">
                               <b>Card Payment</b>
                           </div>
                           <div class="card-body">
                               <div class="row">
                                   <!-- * text Card  -->
                                   <div class="col-6">
                                       <label class="form-label mb-0 fw-bold"
                                              style="font-size: 12.5px;" for="inputCardRefNo"><span
                                               style="color: #fa5252;">* </span>Transaction ID</label>

                                       <div class="row">
                                           <div class="col-12">
                                               <input class="form-control" type="text"
                                                      id="inputCardRefNo" style="background-color: #E6E6E6;"
                                                      required>
                                           </div>
                                       </div>
                                   </div>
                                   <!-- * date checkDate-->
                                   <div class="col-6">
                                       <label class="form-label mb-0 fw-bold"
                                              style="font-size: 12.5px;" for="inputCardDate"><span
                                               style="color: #fa5252;">* </span>Transfer Date & Time</label>

                                       <div class="row">
                                           <div class="col-12">
                                               <input class="form-control" type="date"
                                                      id="inputCardDate"
                                                      style="background-color: #E6E6E6;" required
                                                      onkeydown="return false">
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
<!--               Note field-->
               <div class="row mt-4">
                   <div class="col">
                       <div class="form-floating">
                                <textarea
                                        class="form-control"
                                        id="addCusPayNote"
                                        placeholder="Enter note"
                                ></textarea>
                           <label
                                   class="form-label fw-medium"
                                   for="addCusPayNote"
                           >
                               Note
                               <span class="text-cus-red">(optional)</span>
                           </label>
                       </div>
                   </div>
               </div>
               <hr>
               <div class="row mt-3 mb-2">
                   <div class="col-1">
                       <button
                               type="reset"
                               class="btn btn-outline-danger"
                       >
                           Clear
                       </button>
                   </div>
                   <div class="col-7"></div>
                   <div class="col-4">
                       <button
                               class="btn cusbutton btn-update"
                               onclick="productUpdate()"
                               type="submit"
                       >
                           <i class="fa-solid fa-edit me-2"></i>Update
                       </button>
                       <button
                               class="btn cusbutton ms-4 btn-submit"
                               onclick="customerPaymentSubmit();"
                       >
                           <i class="fa-solid fa-plus me-2"></i>Add
                       </button>
                   </div>
               </div>
           </form>
        </div>

    </div>
</div>