<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add New Product</h5>
            <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body">
            <form id="productAddForm" class="needs-validation">
                <div class="d-flex flex-row gap-3" >
<!--                    Set Default Dummy Image to Product Image-->
                        <div id="img-container" style="width: 20vh;height: 20vh;border: 1px solid #C7C9CE; ">
                            <img  id="productPhoto" src="/image/productimages/photo-icon-picture-icon.jpg" class="rounded  d-block img-thumbnail" alt="..." width="300px" height="300px">
                        </div>
                        <div class="d-flex flex-column align-items-center justify-content-center  ">
                        <button type="button" class="btn addPrimaryBtn mb-2 rounded-2" onclick="filePhoto.click();"><i class="fa-regular fa-image me-2"></i>Add/Change Product Image</button>
                        <input type="file" class="d-none" id="filePhoto" onchange="fileValidation(filePhoto, 'product', 'productPhoto', 'productPhotoName', productPhoto);">
                        <button type="button" class="btn btn-outline-danger me-auto w-100" onclick="clearPhoto()">Clear Photo</button>
                        </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <label class="form-label fw-medium" for="addProductBatch"
                        >Batch No<span class="text-danger"> * </span></label
                        >
                        <select id="addProductBatch" class="form-select" required>
                            <option selected>Select Batch</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label fw-medium" for="addFlavourType"
                        >Flavour Type<span class="text-danger"> * </span></label
                        >
                        <select id="addFlavourType" class="form-select" required onchange="generateProductName();">
                            <option selected>Select Flavour Type</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                        <label class="form-label fw-medium" for="addPackageType"
                        >Package Type<span class="text-danger"> * </span></label
                        >
                        <select id="addPackageType" class="form-select" required onchange="generateProductName();">
                            <option selected disabled value="">Package Type</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label class="form-label fw-medium" for="addProductUnitSize"
                        >Unit Size<span class="text-danger"> * </span>
                        </label>
                        <input
                                class="form-control"
                                id="addProductUnitSize"
                                type="text"
                                placeholder="Enter Unit Size"
                                required
                                onchange="generateProductName();"
                        />
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please enter a valid unit size: a single number (1 to 9).
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="form-label fw-medium" for="addProductUnitType">Unit Type<span
                                class="text-danger"> * </span></label>
                        <select id="addProductUnitType" class="form-select" onchange="generateProductName();" required>
                            <option selected disabled value="">Select Unit Type</option>
                            <option value="ML">ML</option>
                            <option value="L">L</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <label class="form-label fw-medium" for="addProductName"
                        >Product Name<span class="text-danger"> * </span>
                        </label>
                        <input
                                class="form-control"
                                id="addProductName"
                                type="text"
                                placeholder="Enter Product Name"
                                required
                                disabled
                        />
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">
                            Vanilla Ice Cream - 4L - Container
                        </div>
                </div>
                <div class="col">
                    <label class="form-label fw-medium" for="addProductQty"
                    >Quantity<span class="text-danger"> * </span>
                    </label>
                    <input
                            class="form-control"
                            id="addProductQty"
                            type="text"
                            placeholder="Enter Quantity"
                            required
                    />
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">
                        Please enter a valid quantity (1 to 200).
                    </div>
                </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                        <label class="form-label fw-medium" for="addProductROP"
                        >ROP<span class="text-danger"> * </span>
                        </label>
                        <input
                                class="form-control"
                                id="addProductROP"
                                type="text"
                                placeholder="Enter Re-Order Point"
                        />
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">
                            Please enter a valid ROP (1 to 99).
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="form-label fw-medium" for="addProductROQ"
                        >ROQ<span class="text-danger"> * </span>
                        </label>
                        <input
                                class="form-control"
                                id="addProductROQ"
                                type="text"
                                placeholder="Enter Re-Order Quantity"
                        />
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">
                            Please enter a valid ROQ (1 to 200).
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="form-label fw-medium" for="addProductPrice"
                        >Sale Price<span class="text-danger"> * </span>
                        </label>
                        <input
                                class="form-control"
                                id="addProductPrice"
                                type="text"
                                placeholder="Enter Sale Price"
                                required
                        />
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">
                             Please enter a valid amount (1 to 4 digits).
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="form-floating">
                                <textarea
                                        class="form-control"
                                        id="addProductNote"
                                        placeholder="Enter note"
                                ></textarea>
                            <label
                                    class="form-label fw-medium"
                                    for="addProductNote"
                            >
                                Note
                                <span class="text-cus-red">(optional)</span>
                            </label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mt-3 mb-2">
                    <div class="col-1">
                        <button
                                type="reset"
                                class="btn btn-outline-danger"
                                onclick="resetProductValidation()"
                        >
                            Clear
                        </button>
                    </div>
                    <div class="col-7"></div>
                    <div class="col-4">
                        <button
                                class="btn cusbutton btn-update"
                                onclick="productUpdate()"
                                type="submit"
                        >
                            <i class="fa-solid fa-edit me-2"></i>Update
                        </button>
                        <button
                                class="btn cusbutton ms-4 btn-submit"
                                onclick="productSubmit()"
                                type="submit"
                        >
                            <i class="fa-solid fa-plus me-2"></i>Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

