<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add New Product</h5>
            <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body">
            <form id="productAddForm" class="needs-validation">
                <div class="d-flex flex-row gap-3" >
                        <div id="img-container" style="width: 20vh;height: 20vh;border: 1px solid #C7C9CE; ">
                            <img  id="productPhoto" src="/image/userprofilephotos/userprofilephotodummy.png" class="rounded  d-block img-thumbnail" alt="..." width="300px" height="300px">
                        </div>
                        <div class="d-flex flex-column align-items-center justify-content-center  ">
                        <button type="button" class="btn addPrimaryBtn mb-2 rounded-2" onclick="filePhoto.click();"><i class="fa-regular fa-image me-2"></i>Add/Change Product Image</button>
                        <input type="file" class="d-none" id="filePhoto" onchange="fileValidation(filePhoto, 'product', 'product_photo', 'productPhotoName', productPhoto);">
                        <button type="button" class="btn btn-outline-danger me-auto w-100" onclick="clearPhoto()">Clear Photo</button>
                        </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <label class="form-label fw-medium" for="addProductBatch"
                        >Batch No<span class="text-danger"> * </span></label
                        >
                        <select id="addProductBatch" class="form-select">
                            <option selected>Select Batch</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label fw-medium" for="add-product-name"
                        >Product Name<span class="text-danger"> * </span>
                        </label>
                        <input
                                class="form-control"
                                id="add-product-name"
                                type="text"
                                placeholder="Enter Product Name"
                        />
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">
                            Please Enter Full name ex: Udara Deshan Udawatte
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <label class="form-label fw-medium" for="add-product-unitSize"
                        >Unit Size<span class="text-danger"> * </span>
                        </label>
                        <input
                                class="form-control"
                                id="add-product-unitSize"
                                type="number"
                                placeholder="Enter Product Name"
                        />
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">
                            Please Enter Full name ex: Udara Deshan Udawatte
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label fw-medium" for="add-product-unitType">Unit Type<span
                                class="text-danger"> * </span></label>
                        <select id="add-product-unitType" class="form-select">
                            <option selected value="ML">ML</option>
                            <option value="L">L</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label fw-medium" for="add-product-qty"
                        >Quantity<span class="text-danger"> * </span>
                        </label>
                        <input
                                class="form-control"
                                id="add-product-qty"
                                type="number"
                                placeholder="Enter Quantity"
                        />
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">
                            Please Enter Full name ex: Udara Deshan Udawatte
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <label class="form-label fw-medium" for="add-product-rop"
                        >ROP<span class="text-danger"> * </span>
                        </label>
                        <input
                                class="form-control"
                                id="add-product-rop"
                                type="number"
                                placeholder="Enter Re-Order Point"
                        />
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">
                            Please Enter Full name ex: Udara Deshan Udawatte
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label fw-medium" for="add-product-roq"
                        >ROQ<span class="text-danger"> * </span>
                        </label>
                        <input
                                class="form-control"
                                id="add-product-roq"
                                type="number"
                                placeholder="Enter Re-Order Quantity"
                        />
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">
                            Please Enter Full name ex: Udara Deshan Udawatte
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label fw-medium" for="add-product-price"
                        >Sale Price<span class="text-danger"> * </span>
                        </label>
                        <input
                                class="form-control"
                                id="add-product-price"
                                type="number"
                                placeholder="Enter Sale Price"
                        />
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">
                            Please Enter Full name ex: Udara Deshan Udawatte
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <label for="add-product-note" class="form-label">Note</label>
                    <textarea type="text" class="form-control" id="add-product-note" placeholder="Enter a note"
                              required rows="3"></textarea>
                </div>
                <div class="d-flex justify-content-end mt-5">
                    <div>
                        <button class="btn btn-secondary mx-2 "
                                data-bs-dismiss="modal"
                                type="button">Cancel
                        </button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>