<div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="purchaseOrderNo">Purchase Order: PO-98565</h5>
            <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="purchase-order-item">
                    <strong>Quotation No:</strong> <span id="quotationNo">QNO-746474</span>
                </div>
                <div class="purchase-order-item">
                    <strong>Ingredient Code:</strong> <span id="ingredientCode">ING12365</span>
                </div>
                <div class="purchase-order-item">
                    <strong>Supplier Reg No:</strong> <span id="supplierRegNo">SUP15566</span>
                </div>
                <div class="purchase-order-item">
                    <strong>Required Date:</strong> <span id="requiredDate">2024-07-12</span>
                </div>
                <div class="purchase-order-item">
                    <strong>Status:</strong> <span id="purchaseOrderStatus">Pending</span>
                </div>
                <div class="purchase-order-item">
                    <strong>Notes:</strong> <span id="notes">adsgsdg</span>
                </div>
                <hr>
               <div class="d-flex justify-content-end mt-2" >
                   <div>
                       <div class="purchase-order-item">
                           <strong>Price Per Unit:</strong> <span id="pricePerUnit">$123.00</span>
                       </div>
                       <div class="purchase-order-item">
                           <strong>Quantity:</strong> <span id="qty">20</span>
                       </div>
                       <div class="purchase-order-item">
                           <strong>Total Price:</strong> <span id="totalPrice">$2460.00</span>
                       </div>
                   </div>
               </div>


            </div>
        </div>
    </div>
</div>
