.userActive {
    background-color: #b4ebbb;
    text-align: center;
    color: #487746;
    width: 70px;
    /* padding: 0.2rem; */
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin: 0;

}

.userInActive {
    background-color: #ebd781;
    text-align: center;
    color: #5b5f24;
    width: 70px;
    /* padding: 0.2rem; */
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin: 0;

}

#btn-user-update{
    background-color: #FD6A4D;
}

#btn-user-submit{
    background-color:#353c9b;
    width: 101px ;

}

#btn-user-update:hover {
  background-color: #dd5f46;
  color: #ffffff;
}

#btn-user-submit:hover {
  background-color: #282d73;
  color: #ffffff;
}