<head th:fragment ="headSettings">
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title th:text = "${title}"></title>
    <!-- Link Bootstrap min -->
    <link href="/bootstrap-5.3.2/css/bootstrap.min.css"  rel="stylesheet"
    />
    <!-- Link Global CSS -->
    <link href="/styles/global.css" rel="stylesheet"/>

    <!-- Link DataTable CSS -->
    <link href="/dataTables/datatables.min.css" rel="stylesheet"/>

    <!-- Link custom settingsCss file -->
    <link href="/styles/settings/settings.css" rel="stylesheet"/>

    <!--    link Employee CSS-->
    <link href="/styles/employee/employee.css" rel="stylesheet">

    <!--    link User CSS-->
    <link href="/styles/user/user.css" rel="stylesheet">
    <link href="/styles/index.css" rel="stylesheet"/>
    <link
            href="/fontawesome-free-6.4.2-web/css/all.css"
            rel="stylesheet"
    />
    <!--    Link JQuery-->
    <script src="/script/jQuery%20v3.7.1.js"></script>

    <!--    LInk Bootstrap file-->
    <script src="/bootstrap-5.3.2/js/bootstrap.bundle.js"></script>

    <!--    Link common js file-->
    <script src="/script/common.js"></script>

    <!--link table common function js file-->
    <script src="/script/tableCommonFunction.js"></script>

    <!--  link employee js-->
    <script src="/script/employee.js"></script>

    <!--  link user js-->
    <script src="/script/user.js"></script>

    <!--    Link Privilege js-->
    <script src="/script/privilege.js" ></script>

    <!-- Link Data Table  js-->
    <script src="/dataTables/datatables.min.js"></script>

    <!-- Link Validation js-->
    <script src="/script/validationFunction.js"></script>

    <!--    Link Sweetalert-->
    <script src="/Sweetalert/package/dist/sweetalert2.all.min.js"></script>

    <!--    Link Dashboard Js-->
    <script src="/script/dashboard.js"></script>
    <script src="/script/tableDataFeeder.js"></script>
    <script src="/script/sidebar.js"></script>




</head>

<head th:fragment ="headProduct">
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title th:text = "${title}"></title>
    <!-- Link Bootstrap min -->
    <link href="/bootstrap-5.3.2/css/bootstrap.min.css"  rel="stylesheet"
    />
    <!-- Link Global CSS -->
    <link href="/styles/global.css" rel="stylesheet"/>

    <!-- Link custom settingsCss file -->
    <link href="/styles/settings/settings.css" rel="stylesheet"/>

    <!-- Link DataTable CSS -->
    <link href="/dataTables/datatables.min.css" rel="stylesheet"/>

    <link href="/styles/index.css" rel="stylesheet"/>
    <link
            href="/fontawesome-free-6.4.2-web/css/all.css"
            rel="stylesheet"
    />
    <!--    Link JQuery-->
    <script src="/script/jQuery%20v3.7.1.js"></script>

    <!--    LInk Bootstrap file-->
    <script src="/bootstrap-5.3.2/js/bootstrap.bundle.js"></script>

    <!-- Link Data Table  js-->
    <script src="/dataTables/datatables.min.js"></script>

    <!--    Link common js file-->
    <script src="/script/common.js"></script>

    <!--link table common function js file-->
    <script src="/script/tableCommonFunction.js"></script>

    <script src="/script/tableDataFeeder.js" ></script>
    <!-- Link Validation js-->
    <script src="/script/validationFunction.js"></script>

    <!--    Link Sweetalert-->
    <script src="/Sweetalert/package/dist/sweetalert2.all.min.js"></script>

    <!--    Link Product js-->
    <script src="/script/product.js" ></script>
</head>

<head th:fragment ="headPrivilege">
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title th:text = "${title}"></title>
    <!-- Link Bootstrap min -->
    <link href="/bootstrap-5.3.2/css/bootstrap.min.css"  rel="stylesheet"
    />
    <!-- Link Global CSS -->
    <link href="/styles/global.css" rel="stylesheet"/>

    <!-- Link custom settingsCss file -->
    <link href="/styles/settings/settings.css" rel="stylesheet"/>

    <!-- Link DataTable CSS -->
    <link href="/dataTables/datatables.min.css" rel="stylesheet"/>

    <link href="/styles/index.css" rel="stylesheet"/>
    <link
            href="/fontawesome-free-6.4.2-web/css/all.css"
            rel="stylesheet"
    />
    <!--    Link JQuery-->
    <script src="/script/jQuery%20v3.7.1.js"></script>

    <!--    LInk Bootstrap file-->
    <script src="/bootstrap-5.3.2/js/bootstrap.bundle.js"></script>

    <!-- Link Data Table  js-->
    <script src="/dataTables/datatables.min.js"></script>

    <!--    Link common js file-->
    <script src="/script/common.js"></script>

    <!--link table common function js file-->
    <script src="/script/tableCommonFunction.js"></script>

    <script src="/script/tableDataFeeder.js" ></script>
    <!-- Link Validation js-->
    <script src="/script/validationFunction.js"></script>

    <!--    Link Sweetalert-->
    <script src="/Sweetalert/package/dist/sweetalert2.all.min.js"></script>

    <!--    Link Sidebar js-->
    <script src="/script/sidebar.js"></script>
    <link href="/styles/IngTransferList.css" rel="stylesheet">
    <script src="/script/tableDataFeeder.js" ></script>

    <!--    Link Privilege js-->
    <script src="/script/privilege.js" ></script>

</head>

<head th:fragment ="headSupplier">
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title th:text = "${title}"></title>
    <!-- Link Bootstrap min -->
    <link href="/bootstrap-5.3.2/css/bootstrap.min.css"  rel="stylesheet"
    />
    <!-- Link Global CSS -->
    <link href="/styles/global.css" rel="stylesheet"/>

    <!-- Link DataTable CSS -->
    <link href="/dataTables/datatables.min.css" rel="stylesheet"/>

    <!-- Link custom settingsCss file -->
    <link href="/styles/settings/settings.css" rel="stylesheet"/>

    <!--    link Employee CSS-->
    <link href="/styles/employee/employee.css" rel="stylesheet">

    <!--    link Employee CSS-->
    <link href="/styles/supplier/supplierReg.css" rel="stylesheet">

    <link href="/styles/index.css" rel="stylesheet"/>

    <link href="/fontawesome-free-6.4.2-web/css/all.css" rel="stylesheet"/>
    <!--    Link JQuery-->
    <script src="/script/jQuery%20v3.7.1.js"></script>

    <!--    LInk Bootstrap file-->
    <script src="/bootstrap-5.3.2/js/bootstrap.bundle.js"></script>

    <!-- Link Data Table  js-->
    <script src="/dataTables/datatables.min.js"></script>

    <!--    Link common js file-->
    <script src="/script/common.js"></script>

    <!--link table common function js file-->
    <script src="/script/tableCommonFunction.js"></script>


    <!-- Link Validation js-->
    <script src="/script/validationFunction.js"></script>

    <!--    Link Sweetalert-->
    <script src="/Sweetalert/package/dist/sweetalert2.all.min.js"></script>

    <!--    Link Supplier js-->


    <!--    Link Sidebar js-->
    <script src="/script/sidebar.js"></script>
    <link href="/styles/IngTransferList.css" rel="stylesheet">
    <script src="/script/tableDataFeeder.js" ></script>



</head>

<head th:fragment ="headIngredient">
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title th:text = "${title}"></title>
    <!-- Link Bootstrap min -->
    <link href="/bootstrap-5.3.2/css/bootstrap.min.css"  rel="stylesheet"
    />
    <!-- Link Global CSS -->
    <link href="/styles/global.css" rel="stylesheet"/>

    <!-- Link DataTable CSS -->
    <link href="/dataTables/datatables.min.css" rel="stylesheet"/>

    <!-- Link custom settingsCss file -->
    <link href="/styles/settings/settings.css" rel="stylesheet"/>

    <!--    link Employee CSS-->
    <link href="/styles/employee/employee.css" rel="stylesheet">

    <!--    link Employee CSS-->
    <link href="/styles/supplier/supplierReg.css" rel="stylesheet">

    <link href="/styles/index.css" rel="stylesheet"/>

    <link href="/fontawesome-free-6.4.2-web/css/all.css" rel="stylesheet"/>
    <!--    Link JQuery-->
    <script src="/script/jQuery%20v3.7.1.js"></script>

    <!--    LInk Bootstrap file-->
    <script src="/bootstrap-5.3.2/js/bootstrap.bundle.js"></script>

    <!-- Link Data Table  js-->
    <script src="/dataTables/datatables.min.js"></script>

    <!--    Link common js file-->
    <script src="/script/common.js"></script>

    <!--link table common function js file-->
    <script src="/script/tableCommonFunction.js"></script>


    <!-- Link Validation js-->
    <script src="/script/validationFunction.js"></script>

    <!--    Link Sweetalert-->
    <script src="/Sweetalert/package/dist/sweetalert2.all.min.js"></script>

    <!--        Link Supplier js-->
    <script src="/script/supplier.js" ></script>

    <!--        Link Sidebar js-->
    <script src="/script/sidebar.js"></script>
    <script src="/script/tableDataFeeder.js" ></script>

</head>

<head th:fragment ="headQRequest">
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title th:text = "${title}"></title>
    <!-- Link Bootstrap min -->
    <link href="/bootstrap-5.3.2/css/bootstrap.min.css"  rel="stylesheet"
    />
    <!-- Link Global CSS -->
    <link href="/styles/global.css" rel="stylesheet"/>

    <!-- Link DataTable CSS -->
    <link href="/dataTables/datatables.min.css" rel="stylesheet"/>

    <!-- Link custom settingsCss file -->
    <link href="/styles/settings/settings.css" rel="stylesheet"/>

    <!--    link Employee CSS-->
    <link href="/styles/employee/employee.css" rel="stylesheet">

    <!--    link Employee CSS-->
    <link href="/styles/supplier/supplierReg.css" rel="stylesheet">

    <link href="/styles/index.css" rel="stylesheet"/>

    <link href="/fontawesome-free-6.4.2-web/css/all.css" rel="stylesheet"/>
    <!--    Link JQuery-->
    <script src="/script/jQuery%20v3.7.1.js"></script>

    <!--    LInk Bootstrap file-->
    <script src="/bootstrap-5.3.2/js/bootstrap.bundle.js"></script>

    <!-- Link Data Table  js-->
    <script src="/dataTables/datatables.min.js"></script>

    <!--    Link common js file-->
    <script src="/script/common.js"></script>

    <!--link table common function js file-->
    <script src="/script/tableCommonFunction.js"></script>


    <!-- Link Validation js-->
    <script src="/script/validationFunction.js"></script>

    <!--    Link Sweetalert-->
    <script src="/Sweetalert/package/dist/sweetalert2.all.min.js"></script>

    <!--        Link Supplier js-->


    <!--        Link Sidebar js-->
    <script src="/script/sidebar.js"></script>
    <link href="/styles/IngTransferList.css" rel="stylesheet">
    <script src="/script/tableDataFeeder.js" ></script>
    <script src="/script/quotationRequest.js" ></script>

</head>

<head th:fragment ="headQuotation">
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title th:text = "${title}"></title>
    <!-- Link Bootstrap min -->
    <link href="/bootstrap-5.3.2/css/bootstrap.min.css"  rel="stylesheet"
    />
    <!-- Link Global CSS -->
    <link href="/styles/global.css" rel="stylesheet"/>

    <!-- Link DataTable CSS -->
    <link href="/dataTables/datatables.min.css" rel="stylesheet"/>

    <!-- Link custom settingsCss file -->
    <link href="/styles/settings/settings.css" rel="stylesheet"/>

    <!--    link Employee CSS-->
    <link href="/styles/employee/employee.css" rel="stylesheet">

    <!--    link Employee CSS-->
    <link href="/styles/supplier/supplierReg.css" rel="stylesheet">

    <link href="/styles/index.css" rel="stylesheet"/>

    <link href="/fontawesome-free-6.4.2-web/css/all.css" rel="stylesheet"/>
    <!--    Link JQuery-->
    <script src="/script/jQuery%20v3.7.1.js"></script>

    <!--    LInk Bootstrap file-->
    <script src="/bootstrap-5.3.2/js/bootstrap.bundle.js"></script>

    <!-- Link Data Table  js-->
    <script src="/dataTables/datatables.min.js"></script>

    <!--    Link common js file-->
    <script src="/script/common.js"></script>

    <!--link table common function js file-->
    <script src="/script/tableCommonFunction.js"></script>


    <!-- Link Validation js-->
    <script src="/script/validationFunction.js"></script>

    <!--    Link Sweetalert-->
    <script src="/Sweetalert/package/dist/sweetalert2.all.min.js"></script>

    <!--        Link Supplier js-->


    <!--        Link Sidebar js-->
    <script src="/script/sidebar.js"></script>
    <link href="/styles/IngTransferList.css" rel="stylesheet">
    <script src="/script/tableDataFeeder.js" ></script>

</head>
<head th:fragment ="headSales">
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title th:text = "${title}"></title>
    <!-- Link Bootstrap min -->
    <link href="/bootstrap-5.3.2/css/bootstrap.min.css"  rel="stylesheet"
    />
    <!-- Link Global CSS -->
    <link href="/styles/global.css" rel="stylesheet"/>

    <!-- Link DataTable CSS -->
    <link href="/dataTables/datatables.min.css" rel="stylesheet"/>

    <!-- Link custom settingsCss file -->
    <link href="/styles/settings/settings.css" rel="stylesheet"/>

    <!--    link Employee CSS-->
    <link href="/styles/employee/employee.css" rel="stylesheet">

    <!--    link Employee CSS-->
    <link href="/styles/supplier/supplierReg.css" rel="stylesheet">

    <link href="/styles/index.css" rel="stylesheet"/>

    <link href="/fontawesome-free-6.4.2-web/css/all.css" rel="stylesheet"/>
    <!--    Link JQuery-->
    <script src="/script/jQuery%20v3.7.1.js"></script>

    <!--    LInk Bootstrap file-->
    <script src="/bootstrap-5.3.2/js/bootstrap.bundle.js"></script>

    <!-- Link Data Table  js-->
    <script src="/dataTables/datatables.min.js"></script>

    <!--    Link common js file-->
    <script src="/script/common.js"></script>

    <!-- Link Validation js-->
    <script src="/script/validationFunction.js"></script>

    <!--    Link Sweetalert-->
    <script src="/Sweetalert/package/dist/sweetalert2.all.min.js"></script>
    <style>
        /* Hide spinners in Chrome, Safari, Edge, and Opera */
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Hide spinners in Firefox */
        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>
    <script src="/script/sidebar.js"></script>
    <script src="/script/tableDataFeeder.js" ></script>

</head>
<head th:fragment ="headCommon">
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title th:text = "${title}"></title>
    <!-- Link Bootstrap min -->
    <link href="/bootstrap-5.3.2/css/bootstrap.min.css"  rel="stylesheet"
    />
    <!-- Link Global CSS -->
    <link href="/styles/global.css" rel="stylesheet"/>

    <!-- Link DataTable CSS -->
    <link href="/dataTables/datatables.min.css" rel="stylesheet"/>

    <!-- Link custom settingsCss file -->
    <link href="/styles/settings/settings.css" rel="stylesheet"/>

    <!--    link Employee CSS-->
    <link href="/styles/employee/employee.css" rel="stylesheet">

    <!--    link Employee CSS-->
    <link href="/styles/supplier/supplierReg.css" rel="stylesheet">

    <link href="/styles/index.css" rel="stylesheet"/>

    <link href="/fontawesome-free-6.4.2-web/css/all.css" rel="stylesheet"/>
    <!--    Link JQuery-->
    <script src="/script/jQuery%20v3.7.1.js"></script>

    <!--    LInk Bootstrap file-->
    <script src="/bootstrap-5.3.2/js/bootstrap.bundle.js"></script>

    <!-- Link Data Table  js-->
    <script src="/dataTables/datatables.min.js"></script>

    <!--    Link common js file-->
    <script src="/script/common.js"></script>

    <!-- Link Validation js-->
    <script src="/script/validationFunction.js"></script>

    <!--    Link Sweetalert-->
    <script src="/Sweetalert/package/dist/sweetalert2.all.min.js"></script>

    <script src="/script/sidebar.js"></script>
    <script src="/script/tableDataFeeder.js" ></script>
    <link href="/styles/purchaseOrder/viewPO.css" rel="stylesheet"/>


</head>
<head th:fragment ="headDashboard">
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title th:text = "${title}"></title>
    <!-- Link Bootstrap min -->
    <link href="/bootstrap-5.3.2/css/bootstrap.min.css"  rel="stylesheet"
    />
    <!-- Link Global CSS -->
    <link href="/styles/global.css" rel="stylesheet"/>

    <!-- Link DataTable CSS -->
    <link href="/dataTables/datatables.min.css" rel="stylesheet"/>

    <!-- Link custom settingsCss file -->
    <link href="/styles/settings/settings.css" rel="stylesheet"/>

    <!--    link Employee CSS-->
    <link href="/styles/employee/employee.css" rel="stylesheet">

    <!--    link Employee CSS-->
    <link href="/styles/supplier/supplierReg.css" rel="stylesheet">

    <link href="/styles/index.css" rel="stylesheet"/>

    <link href="/fontawesome-free-6.4.2-web/css/all.css" rel="stylesheet"/>
    <!--    Link JQuery-->
    <script src="/script/jQuery%20v3.7.1.js"></script>

    <!--    LInk Bootstrap file-->
    <script src="/bootstrap-5.3.2/js/bootstrap.bundle.js"></script>

    <!-- Link Data Table  js-->
    <script src="/dataTables/datatables.min.js"></script>

    <!--    Link common js file-->
    <script src="/script/common.js"></script>

    <!-- Link Validation js-->
    <script src="/script/validationFunction.js"></script>

    <!--    Link Sweetalert-->
    <script src="/Sweetalert/package/dist/sweetalert2.all.min.js"></script>
    <style>
        /* Hide spinners in Chrome, Safari, Edge, and Opera */
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Hide spinners in Firefox */
        input[type="number"] {
            -moz-appearance: textfield;
        }
        .dashboard-card{
            box-shadow: 0 4px 8px rgba(9, 135, 255, 0.4), 0 6px 20px rgba(9, 135, 255, 0.6);
            border-radius: 10px;
            background-color: #ffffff;
            cursor: pointer;
        }
    </style>
    <script src="/script/sidebar.js"></script>
    <script src="/script/tableDataFeeder.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
</head>