<div th:fragment = "roles"
        aria-labelledby="roles-tab"
        class="tab-pane fade"
        id="roles-tab-pane"
        role="tabpanel"
        tabindex="2"
>
    <div class="table-responsive">
        <table class="privilegeTable mt-3 table-bordered">
            <thead>
            <tr>
                <th id="roleUsesCol" scope="col">
                    <div
                            class="d-flex align-items-center"
                            id="roleSerachinputGroup"
                    >
                        <input
                                id="searchEmp"
                                placeholder="Type Persmmision "
                                type="text"
                        />
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </th>
                <th class="roleCol" scope="col">
                    <div d-flex flex-column></div>
                    <div class="roletableRoleName">role</div>
                    Product Specialist
                </th>
                <th class="roleCol" scope="col">
                    <div d-flex flex-column></div>
                    <div class="roletableRoleName">role</div>
                    Manager
                </th>
                <th class="roleCol" scope="col">
                    <div d-flex flex-column></div>
                    <div class="roletableRoleName">role</div>
                    Cashier
                </th>
                <th class="roleCol" scope="col">
                    <div d-flex flex-column></div>
                    <div class="roletableRoleName">role</div>
                    Servicer
                </th>
                <th class="roleCol" scope="col">
                    <div d-flex flex-column></div>
                    <div class="roletableRoleName">role</div>
                    Head of Finace
                </th>
                <th class="roleCol" scope="col">
                    <div d-flex flex-column></div>
                    <div class="roletableRoleName">role</div>
                    Head of Product
                </th>
            </tr>
            <tr></tr>
            </thead>
            <tbody id="rolesTable">
            <tr
                    aria-controls="collapseExample"
                    aria-expanded="false"
                    class="roleCatego"
                    data-bs-target=".collapsibleRows"
                    data-bs-toggle="collapse"
                    role="button"
            >
                <th scope="row">
                        <span class="align-items-center">
                          <i class="fa-solid fa-caret-down roleDropDown"></i>
                          Orders
                        </span>
                </th>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
            </tr>
            <tr class="collapse collapsibleRows show">
                <td class="rolesTableUses" scope="row">View Orders</td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
            </tr>
            <tr class="collapse collapsibleRows show">
                <td class="rolesTableUses" scope="row">Edit Orders</td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
            </tr>
            <tr class="collapse collapsibleRows show">
                <td class="rolesTableUses" scope="row">Cancel Orders</td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
            </tr>
            <tr class="collapse collapsibleRows show">
                <td class="rolesTableUses" scope="row">Accept Orders</td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
                <td>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                    />
                </td>
            </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>