<div id="sidebarContainer">
    <div class="sidenav d-flex flex-column">
        <!-- Logo -->
        <div class="mb-2">
            <img src="/image/sidebar/logoremovebg.png" class="image-grayscale" height="50px" width="50px">
        </div>

        <!-- Dashboard Link -->
        <div class="row sideItem" onclick="toggleHoverLock(this)">
            <a href="/dashboard" style="text-decoration: none; display: flex;">
                <div class="col-2 sideIcon">
                    <i class="fa-solid fa-grip fa-sm"></i>
                </div>
                <div class="col-10">Dashboard</div>
            </a>
        </div>

        <!-- Products Link -->
        <div class="row sideItem" onclick="toggleHoverLock(this)">
            <a href="/product" style="text-decoration: none; display: flex;">
                <div class="col-2 sideIcon">
                    <i class="fa-solid fa-ice-cream"></i>
                </div>
                <div class="col-10">Products</div>
            </a>
        </div>

        <!-- Sales Link -->
        <div class="row sideItem" onclick="toggleHoverLock(this)">
            <a href="/customerOrder" style="text-decoration: none; display: flex;">
                <div class="col-2 sideIcon">
                    <i class="fa-solid fa-receipt"></i>
                </div>
                <div class="col-10">Sales</div>
            </a>
        </div>

        <!-- Ingredients Link -->
        <div class="row sideItem" onclick="toggleHoverLock(this)">
            <a href="/ingredient" style="text-decoration: none; display: flex;">
                <div class="col-2 sideIcon">
                    <i class="fa-solid fa-cubes-stacked"></i>
                </div>
                <div class="col-10">Ingredients</div>
            </a>
        </div>

        <!-- Suppliers Link -->
        <div class="row sideItem" onclick="toggleHoverLock(this)">
            <a href="/supplier" style="text-decoration: none; display: flex;">
                <div class="col-2 sideIcon">
                    <i class="fa-solid fa-people-group"></i>
                </div>
                <div class="col-10">Suppliers</div>
            </a>
        </div>

        <!-- Quotation Requests Link -->
        <div class="row sideItem" onclick="toggleHoverLock(this)">
            <a href="/quotation-request" style="text-decoration: none; display: flex;">
                <div class="col-2 sideIcon">
                    <i class="fa-solid fa-file-circle-plus"></i>
                </div>
                <div class="col-10">Quotation Reqs</div>
            </a>
        </div>

        <!-- Quotations Link -->
        <div class="row sideItem" onclick="toggleHoverLock(this)">
            <a href="/quotation" style="text-decoration: none; display: flex;">
                <div class="col-2 sideIcon">
                    <i class="fa-solid fa-file-invoice-dollar"></i>
                </div>
                <div class="col-10">Quotations</div>
            </a>
        </div>

        <!-- Ing Orders Link -->
        <div class="row sideItem" onclick="toggleHoverLock(this)">
            <a href="/purchaseOrder" style="text-decoration: none; display: flex;">
                <div class="col-2 sideIcon">
                    <i class="fa-solid fa-truck-field fa-sm"></i>
                </div>
                <div class="col-10">Ing Orders</div>
            </a>
        </div>

        <!-- Production Link -->
        <div class="row sideItem" onclick="toggleHoverLock(this)">
            <a href="/productionItem" style="text-decoration: none; display: flex;">
                <div class="col-2 sideIcon">
                    <i class="fa-solid fa-city"></i>
                </div>
                <div class="col-10">Production</div>
            </a>
        </div>

        <!-- Reports Link -->
        <div class="row sideItem" onclick="toggleHoverLock(this)">
            <a href="/report" style="text-decoration: none; display: flex;">
                <div class="col-2 sideIcon">
                    <i class="fa-solid fa-chart-line"></i>
                </div>
                <div class="col-10">Reports</div>
            </a>
        </div>

        <!-- Settings Link -->
        <div class="row sideItem mt-auto" onclick="toggleHoverLock(this)">
            <a href="/settings" style="text-decoration: none; display: flex;">
                <div class="col-2 sideIcon">
                    <i class="fa-solid fa-gear"></i>
                </div>
                <div class="col-10">Settings</div>
            </a>
        </div>
    </div>
</div>
