<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head.html:: headDashboard}">

</head>
<body>
<div th:replace="~{fragments/topnav.html}"></div>
<div class="d-flex">
    <div th:replace="~{fragments/sidebar.html}"></div>
    <div class="container-fluid settingsTabContent">
        <div class="container-fluid">
            <!-- Loading Spinner -->
            <!-- <div id="dashboardLoading" class="text-center py-5">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div> -->

            <!-- Dashboard Content -->
            <div id="dashboardContent" style="display: block;">
                <!-- Stats Cards -->
                <div class="row mt-3 mb-3 g-3">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="dashboard-card p-3 h-120">
                            <a href="/quotation" class="text-decoration-none text-dark">
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <h4 class="mb-2"><i class="fa-solid fa-newspaper me-2"></i>Pending Quotations</h4>
                                    <h4 id="pq-num" class="text-primary">0</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="dashboard-card p-3 h-120">
                            <a href="/purchaseOrder" class="text-decoration-none text-dark">
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <h4 class="mb-2"><i class="fa-solid fa-truck me-2"></i>Pending GRN</h4>
                                    <h4 id="pg-num" class="text-primary">0</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="dashboard-card p-3 h-120">
                            <a href="/productionItem" class="text-decoration-none text-dark">
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <h4 class="mb-2"><i class="fa-solid fa-bowl-rice me-2"></i>Production Batches</h4>
                                    <h4 id="pb-num" class="text-primary">0</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="dashboard-card p-3 h-120">
                            <a href="/customerOrder" class="text-decoration-none text-dark">
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <h4 class="mb-2"><i class="fa-solid fa-ice-cream me-2"></i>Pending Orders</h4>
                                    <h4 id="po-num" class="text-primary">0</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="dashboardNotifications"></div>
                <div id="dashboardNotifications"></div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var loggedUserName = /*[[${loggedUserName}]]*/ '';
</script>
<script src="/script/dashboard.js"></script>
<script src="/script/dashboardNotification.js"></script>
</body>
</html>