<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head.html:: headProduct}"></head>
<body>
<div th:replace="~{fragments/topnav.html}"></div>
<div class="d-flex">
<div th:replace="~{fragments/sidebar.html}"></div>
<div class="flex-grow-1 container-fluid settingsTabContent px-4">
            <div class="hstack mt-3 mb-3">
                <h2 class="settingsHeader">Products</h2>
                <button
                        class="btn ms-auto me-4 addPrimaryBtn"
                        data-bs-target="#modalAddProduct"
                        data-bs-toggle="modal"
                        type="button"
                >
                    <i class="fa-solid fa-plus me-2"></i>
                    Add Product
                </button>
            </div>
            <button
            class="btn ms-auto me-4 btn-secondary"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasProductSettings"
            style="margin-top: 1rem;"
            >
            <i class="fa-solid fa-gear me-2"></i>
                Product Settings
            </button>
            <div >

            </div>

            <table
                    class="table table-boarderd table-hover table-bordered cusTable mt-2 bg-light"
                    id="tableProduct"
            >
                <thead class="cusTableHead">
                <th>#</th>
                <th>Product</th>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Batch No</th>
                <th>Sale Price</th>
                <th>Unit Amount</th>
                <th>QTY</th>
                <th>Status</th>
                <th>Modify</th>
                </thead>
                <tbody></tbody>
            </table>
            <div
                    class="modal fade"
                    data-bs-backdrop="static"
                    data-bs-keyboard="false"
                    id="modalAddProduct"
                    aria-hidden="true"
            >
                <div th:replace="~{fragments/Product/ProductAddForm.html}"  ></div>
            </div>
            <div
                    class="modal fade"
                    data-bs-backdrop="static"
                    data-bs-keyboard="false"
                    id="modalEditProduct"
            >
                <div th:replace="~{fragments/Product/ProductEditForm.html}"  ></div>
            </div>
            <div
            class="modal fade"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            id="modalAddStockProduct"
            >
            <div th:replace="~{fragments/Product/StockAdditionForm.html}"  ></div>
            </div>
            <div
            class="modal fade"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            id="modalViewProduct"
            >
            <div th:replace="~{fragments/Product/viewProduct.html}"  ></div>
    </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasProductSettings" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Product Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div th:replace="~{fragments/Production/ProductionSetting.html}"></div>
    </div>
</div>
<!-- Add modals at root level -->
<div class="modal fade" id="modalFlavourAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalFlavourAddLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div th:replace="~{fragments/Production/Settings/FlavourAddForm.html}"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalFlavourEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalFlavourEditLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div th:replace="~{fragments/Production/Settings/FlavourEditForm.html}"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPTAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalPTAddLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div th:replace="~{fragments/Production/Settings/PackageTypeAddFrom.html}"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPTEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalPTEditLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div th:replace="~{fragments/Production/Settings/PackageTypeEditFrom.html}"></div>
        </div>
    </div>
</div>
</body>
<script src="/script/sidebar.js"></script>
</html>
