<!DOCTYPE html>
<html lang="en">
<head>
<title>Production Management</title>
</head> 
<head th:replace="~{fragments/head.html:: productionItem}"></head>
<body>
<div th:replace="~{fragments/topnav.html :: navbar}"></div>
<div class="d-flex">
  <div th:replace="~{fragments/sidebar.html}"></div>
  <div class="flex-grow-1 container-fluid settingsTabContent px-4">
      <div>
        <ul class="nav nav-tabs d-flex" id="" role="tablist">
          <li class="nav-item" role="presentation">
            <button
                    aria-controls="pb-tab-pane"
                    aria-selected="false"
                    class="nav-link active"
                    data-bs-target="#pb-tab-pane"
                    data-bs-toggle="tab"
                    id="pb-tab"
                    role="tab"
                    type="button"
            >
              Production Batch
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
                    aria-controls="pr-tab-pane"
                    aria-selected="false"
                    class="nav-link"
                    data-bs-target="#pr-tab-pane"
                    data-bs-toggle="tab"
                    id="pr-tab"
                    role="tab"
                    type="button"
            >
              Production Request
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
                    aria-controls="recipe-tab-pane"
                    aria-selected="false"
                    class="nav-link"
                    data-bs-target="#recipe-tab-pane"
                    data-bs-toggle="tab"
                    id="recipe-tab"
                    role="tab"
                    type="button"
            >
              Recipe
            </button>
          </li>
        </ul>
      </div>
      <div class="tab-content" id="myTabContent">
        <div th:replace = "~{fragments/Production/Recipe.html}"></div>
        <div th:replace = "~{fragments/Production/ProductionBatch.html}"></div>
        <div th:replace = "~{fragments/Production/ProductionRequest.html}"></div>
      </div>
    </div>
  </div>
</div>
<script src="/script/recipe.js"></script>
<script src="/script/batch.js"></script>
<script src="/script/productionItem.js"></script>
<script src="/script/productionRequest.js"></script>
<script th:inline="javascript">
  var loggedUserName = /*[[${loggedUserName}]]*/ '';
</script>
</body>
</html>