<!DOCTYPE html>
<html lang="en">
<head>
<title>Supplier</title>
</head>   
<head th:replace="~{fragments/head.html:: headSupplier}"></head>
<body>
<div th:replace="~{fragments/topnav.html}"></div>
<div class="d-flex">
    <div th:replace="~{fragments/sidebar.html}"></div>
    <div class="flex-grow-1 container-fluid settingsTabContent px-4">
            <div class="hstack mt-3 mb-3">
                <h2 class="settingsHeader me-auto text-start">Suppliers</h2>
                <button
                        class="btn ms-auto me-4 addPrimaryBtn"
                        id="addSupplierBtn"
                        onclick="openAddSupplierForm()"
                        type="button"
                >
                    Add Supplier
                </button>
            </div>
            <!-- Employee table area start-->
            <!-- Employee table start -->
            <table
                    class="table table-boarderd table-hover table-bordered bg-light cusTable mt-2"
                    id="tableSupplier"
            >
                <thead class="cusTableHead">
                <th>#</th>
                <th>Reg No</th>
                <th>Supplier Name</th>
                <th>Joined Date</th>
                <th>Ingredients</th>
                <th>Status</th>
                <th>Modify</th>
                </thead>
                <tbody></tbody>
            </table>
            <!--table end-->
            <!--  supplier add modal start-->
            <div
                    class="modal fade"
                    data-bs-backdrop="static"
                    data-bs-keyboard="false"
                    id="modalSupplierAdd"
            >
                <div th:replace="~{fragments/Supplier/SupplierAddForm.html}"  ></div>
            </div>
            <!--  supplier edit modal start-->

            <div
                    class="modal fade"
                    data-bs-backdrop="static"
                    data-bs-keyboard="false"
                    id="supplierModal"
            >
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Supplier Details</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="supplierDetails">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/script/supplier.js" ></script>
<script src="/script/IngTransferList.js"></script>
<script th:inline="javascript">
    var loggedUserName = /*[[${loggedUserName}]]*/ '';
</script>
</body>
</html>
