.tab-pane {
  height: 350px;
}

.firstRow {
  padding-top: 30px;
}

.contactPerson {
  padding-top: 20px;
}



.nav-tabs {
  display: flex;
  flex-direction: row;
}



#tableSupplier_wrapper{
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 0.5rem;
}