<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Add New Ingredient</h4>
      <button
              class="btn-close"
              data-bs-dismiss="modal"
              type="button"
      ></button>
    </div>
    <div class="modal-body">
      <!--form start-->
      <form id="ingredientAddForm">
        <div>
          <div class="row mb-3">
            <div class="col">
              <label for="ingredientCode" class="form-label fw-medium">Ingredient Code</label><span class="text-danger"> * </span>
              <input type="text" class="form-control" id="ingredientCode" placeholder="Ex. ING1234567" required>
            </div>
            <div class="col">
              <label for="ingredientName" class="form-label fw-medium">Ingredient Name</label><span class="text-danger"> * </span>
              <input type="text" class="form-control" id="ingredientName" placeholder="Enter Ingredient Name" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="quantity" class="form-label fw-medium">Quantity</label><span class="text-danger"> * </span>
              <input type="text" class="form-control" id="quantity" required placeholder="Enter the Quantity">
            </div>
            <div class="col">
              <label for="unitType" class="form-label fw-medium">Unit Type</label><span class="text-danger"> * </span>
              <select class="form-select" id="unitType" required>
                <option disabled selected value="">Select Unit Type</option>
                <option value="KG" >KG</option>
                <option value="G">G</option>
                <option value="L">L</option>
                <option value="MG">MG</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="rop" class="form-label fw-medium">ROP</label><span class="text-danger"> * </span>
              <input type="text" class="form-control" id="rop" placeholder=" Enter Re-Order Point" required>
            </div>
            <div class="col">
              <label for="roq" class="form-label fw-medium">ROQ</label><span class="text-danger"> * </span>
              <input type="text" class="form-control" id="roq" placeholder="Enter Re-Order Quantity" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="note" class="form-label fw-medium">Note</label><span class="text-cus-red"> (optional)</span>
            <textarea type="text" class="form-control" id="note" placeholder="Enter a note"
                       rows="3"></textarea>
          </div>
          <hr>
          <div class="row mt-3 mb-2">
            <div class="col-1">
              <button
                      type="reset"
                      class="btn btn-outline-danger"
              >
                Clear
              </button>
            </div>
            <div class="col-7"></div>
            <div class="col-4">
              <button
                      class="btn cusbutton btn-update"
                      onclick="ingredientUpdate();"
              >
                <i class="fa-solid fa-edit me-2"></i>Update
              </button>
              <button
                      class="btn cusbutton ms-4 btn-submit"
                      onclick="ingredientSubmit();"
              >
                <i class="fa-solid fa-plus me-2"></i>Add
              </button>
            </div>
          </div>
        </div>
      </form>
      <!--            form start-->
    </div>
  </div>
</div>